*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: blueviolet;
    

}
header nav{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    min-width: 300px;
    

}
header nav .logo h1{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
header nav .menu{
    display: flex;
    align-items: center;
    margin-top: 15px;

   
}
header nav .menu li:hover{
    text-decoration: underline;
    background: blue;
}
@media (max-width:1000px){
    header nav{
        padding: 0px 20px;
    }
}

header nav .menu li{
    list-style-type: none;
    padding-left:  30px;
}
header nav .menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
@media(max-width:500px){
    header nav{
        flex-direction: column;
        height: auto;
        padding: 20px;
        
    }
}
header nav .menu li{
    padding: 0px 15px;
}